appnope==0.1.0
decorator==4.0.4
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
requests==2.8.1
requests-oauthlib==0.5.0
simplegeneric==0.8.1
six==1.10.0
tld==0.7.4
traitlets==4.0.0
tweepy==3.4.0
wheel==0.24.0
